mixin createProduct(product)
  .col-md-4
    .card.mt-5(style="width: 18rem")
      img.card-img-top(src=product.imageUrl alt="...")
      .card-body
        h5.card-title
          a(href=`/products/${product.id}` style="color: black") #{product.name}
        p.card-text= product.description
        small.text-mute
          i.fa.fa-try
          | #{product.price}
      .card-footer.text-center
        
        a.btn.btn-secondary.btn-sm.me-3(href=`/products/${product.id}`) Details
        
        a.btn.btn-secondary.btn-sm(href="#") Add to Cart
          